In [1]:
import requests
import json
import pandas as pd

In [2]:
api_key = 'CRYUALQWFMWHEG9S'

In [3]:
#https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=SPOT&outputsize=full&apikey=demo

SPOT_data = requests.get('https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=SPOT&outputsize=full&apikey='+ api_key)

In [13]:
SPOT_data2 = SPOT_data.json()

In [22]:
SPOT_data2['Time Series (Daily)'].keys()

dict_keys(['2019-07-09', '2019-07-08', '2019-07-05', '2019-07-03', '2019-07-02', '2019-07-01', '2019-06-28', '2019-06-27', '2019-06-26', '2019-06-25', '2019-06-24', '2019-06-21', '2019-06-20', '2019-06-19', '2019-06-18', '2019-06-17', '2019-06-14', '2019-06-13', '2019-06-12', '2019-06-11', '2019-06-10', '2019-06-07', '2019-06-06', '2019-06-05', '2019-06-04', '2019-06-03', '2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-24', '2019-05-23', '2019-05-22', '2019-05-21', '2019-05-20', '2019-05-17', '2019-05-16', '2019-05-15', '2019-05-14', '2019-05-13', '2019-05-10', '2019-05-09', '2019-05-08', '2019-05-07', '2019-05-06', '2019-05-03', '2019-05-02', '2019-05-01', '2019-04-30', '2019-04-29', '2019-04-26', '2019-04-25', '2019-04-24', '2019-04-23', '2019-04-22', '2019-04-18', '2019-04-17', '2019-04-16', '2019-04-15', '2019-04-12', '2019-04-11', '2019-04-10', '2019-04-09', '2019-04-08', '2019-04-05', '2019-04-04', '2019-04-03', '2019-04-02', '2019-04-01', '2019-03-29', '2019-03-28', '2019-03-27', '2019-03-26', '2019-03-25', '2019-03-22', '2019-03-21', '2019-03-20', '2019-03-19', '2019-03-18', '2019-03-15', '2019-03-14', '2019-03-13', '2019-03-12', '2019-03-11', '2019-03-08', '2019-03-07', '2019-03-06', '2019-03-05', '2019-03-04', '2019-03-01', '2019-02-28', '2019-02-27', '2019-02-26', '2019-02-25', '2019-02-22', '2019-02-21', '2019-02-20', '2019-02-19', '2019-02-15', '2019-02-14', '2019-02-13', '2019-02-12', '2019-02-11', '2019-02-08', '2019-02-07', '2019-02-06', '2019-02-05', '2019-02-04', '2019-02-01', '2019-01-31', '2019-01-30', '2019-01-29', '2019-01-28', '2019-01-25', '2019-01-24', '2019-01-23', '2019-01-22', '2019-01-18', '2019-01-17', '2019-01-16', '2019-01-15', '2019-01-14', '2019-01-11', '2019-01-10', '2019-01-09', '2019-01-08', '2019-01-07', '2019-01-04', '2019-01-03', '2019-01-02', '2018-12-31', '2018-12-28', '2018-12-27', '2018-12-26', '2018-12-24', '2018-12-21', '2018-12-20', '2018-12-19', '2018-12-18', '2018-12-17', '2018-12-14', '2018-12-13', '2018-12-12', '2018-12-11', '2018-12-10', '2018-12-07', '2018-12-06', '2018-12-04', '2018-12-03', '2018-11-30', '2018-11-29', '2018-11-28', '2018-11-27', '2018-11-26', '2018-11-23', '2018-11-21', '2018-11-20', '2018-11-19', '2018-11-16', '2018-11-15', '2018-11-14', '2018-11-13', '2018-11-12', '2018-11-09', '2018-11-08', '2018-11-07', '2018-11-06', '2018-11-05', '2018-11-02', '2018-11-01', '2018-10-31', '2018-10-30', '2018-10-29', '2018-10-26', '2018-10-25', '2018-10-24', '2018-10-23', '2018-10-22', '2018-10-19', '2018-10-18', '2018-10-17', '2018-10-16', '2018-10-15', '2018-10-12', '2018-10-11', '2018-10-10', '2018-10-09', '2018-10-08', '2018-10-05', '2018-10-04', '2018-10-03', '2018-10-02', '2018-10-01', '2018-09-28', '2018-09-27', '2018-09-26', '2018-09-25', '2018-09-24', '2018-09-21', '2018-09-20', '2018-09-19', '2018-09-18', '2018-09-17', '2018-09-14', '2018-09-13', '2018-09-12', '2018-09-11', '2018-09-10', '2018-09-07', '2018-09-06', '2018-09-05', '2018-09-04', '2018-08-31', '2018-08-30', '2018-08-29', '2018-08-28', '2018-08-27', '2018-08-24', '2018-08-23', '2018-08-22', '2018-08-21', '2018-08-20', '2018-08-17', '2018-08-16', '2018-08-15', '2018-08-14', '2018-08-13', '2018-08-10', '2018-08-09', '2018-08-08', '2018-08-07', '2018-08-06', '2018-08-03', '2018-08-02', '2018-08-01', '2018-07-31', '2018-07-30', '2018-07-27', '2018-07-26', '2018-07-25', '2018-07-24', '2018-07-23', '2018-07-20', '2018-07-19', '2018-07-18', '2018-07-17', '2018-07-16', '2018-07-13', '2018-07-12', '2018-07-11', '2018-07-10', '2018-07-09', '2018-07-06', '2018-07-05', '2018-07-03', '2018-07-02', '2018-06-29', '2018-06-28', '2018-06-27', '2018-06-26', '2018-06-25', '2018-06-22', '2018-06-21', '2018-06-20', '2018-06-19', '2018-06-18', '2018-06-15', '2018-06-14', '2018-06-13', '2018-06-12', '2018-06-11', '2018-06-08', '2018-06-07', '2018-06-06', '2018-06-05', '2018-06-04', '2018-06-01', '2018-05-31', '2018-05-30', '2018-05-29', '2018-05-25', '2018-05-24', '2018-05-23', '2018-05-22', '2018-05-21', '2018-05-18', '2018-05-17', '2018-05-16', '2018-05-15', '2018-05-14', '2018-05-11', '2018-05-10', '2018-05-09', '2018-05-08', '2018-05-07', '2018-05-04', '2018-05-03', '2018-05-02', '2018-05-01', '2018-04-30', '2018-04-27', '2018-04-26', '2018-04-25', '2018-04-24', '2018-04-23', '2018-04-20', '2018-04-19', '2018-04-18', '2018-04-17', '2018-04-16', '2018-04-13', '2018-04-12', '2018-04-11', '2018-04-10', '2018-04-09', '2018-04-06', '2018-04-05', '2018-04-04', '2018-04-03'])

In [17]:
df.head()

,Meta Data.1. Information,Meta Data.2. Symbol,Meta Data.3. Last Refreshed,Meta Data.4. Output Size,Meta Data.5. Time Zone,Time Series (Daily).2018-04-03.1. open,Time Series (Daily).2018-04-03.2. high,Time Series (Daily).2018-04-03.3. low,Time Series (Daily).2018-04-03.4. close,Time Series (Daily).2018-04-03.5. volume,...,Time Series (Daily).2019-07-08.1. open,Time Series (Daily).2019-07-08.2. high,Time Series (Daily).2019-07-08.3. low,Time Series (Daily).2019-07-08.4. close,Time Series (Daily).2019-07-08.5. volume,Time Series (Daily).2019-07-09.1. open,Time Series (Daily).2019-07-09.2. high,Time Series (Daily).2019-07-09.3. low,Time Series (Daily).2019-07-09.4. close,Time Series (Daily).2019-07-09.5. volume
0,"Daily Prices (open, high, low, close) and Volumes",SPOT,2019-07-09,Full size,US/Eastern,165.9000,169.0000,148.2600,149.0100,30526507,...,145.3700,145.4225,142.7600,144.2900,1306688,144.3900,147.3000,144.3900,147.2400,1349732