In [1]:
import pandas as pd
import numpy as np
import os
from matplotlib.pyplot import plt

In [2]:
os.getcwd()

'C:\\Users\\abels\\Desktop\\spotify_scrape'

In [3]:
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'csv_archive',
 'Data_Analysis.ipynb',
 'generator_test.py',
 'README.md',
 'spotify_csv_scape.py',
 '__pycache__']

In [4]:
csv_path = os.getcwd() + '\\csv_archive\\'

In [5]:
def csv_amalgimation(filename):
    csv_df = pd.read_csv(filename, encoding="latin1")
    columns = ['Position', 'Track Name', 'Artist', 'Streams', 'URL', 'Date']
    csv_df.columns = columns
    return csv_df

In [6]:
csv_list = []
for subdir, dirs, files in os.walk(csv_path):
    for file in files:
        csv_list.append(os.path.join(subdir, file))

In [7]:
dfs_to_append = []
for csv in csv_list:
    try:
        dfs_to_append.append(csv_amalgimation(csv))
    except:
        pass

In [8]:
df = pd.DataFrame()
df = df.append(dfs_to_append, ignore_index=True)

In [9]:
print (df.shape)
print (df.head())

(170046, 6)
   Position                               Track Name            Artist  \
0  Position                               Track Name            Artist
1         1                                  Starboy        The Weeknd
2         2                                   Closer  The Chainsmokers
3         3                          Let Me Love You          DJ Snake
4         4  Rockabye (feat. Sean Paul & Anne-Marie)      Clean Bandit

   Streams                                                URL        Date
0  Streams                                                URL  2017-01-01
1  3135625  https://open.spotify.com/track/5aAx2yezTd8zXrk...  2017-01-01
2  3015525  https://open.spotify.com/track/7BKLCZ1jbUBVqRi...  2017-01-01
3  2545384  https://open.spotify.com/track/4pdPtRcBmOSQDlJ...  2017-01-01
4  2356604  https://open.spotify.com/track/5knuzwU65gJK7IF...  2017-01-01

In [10]:
df['Streams'] = pd.to_numeric(df['Streams'], errors='coerce')

In [11]:
df['Streams'].dtype

dtype('float64')

In [12]:
df['Streams'].head()

0          NaN
1    3135625.0
2    3015525.0
3    2545384.0
4    2356604.0
Name: Streams, dtype: float64

In [13]:
mask = (~np.isnan(df['Streams']))

In [14]:
mask.shape

(170046,)

In [15]:
mask.head()

0    False
1     True
2     True
3     True
4     True
Name: Streams, dtype: bool

In [16]:
df.shape

(170046, 6)

In [17]:
df = df[mask]

In [18]:
df.shape

(169200, 6)

In [61]:
df.head()

,Position,Track Name,Artist,Streams,URL,Date
1,1,Starboy,The Weeknd,3135625.0,https://open.spotify.com/track/5aAx2yezTd8zXrk...,2017-01-01
2,2,Closer,The Chainsmokers,3015525.0,https://open.spotify.com/track/7BKLCZ1jbUBVqRi...,2017-01-01
3,3,Let Me Love You,DJ Snake,2545384.0,https://open.spotify.com/track/4pdPtRcBmOSQDlJ...,2017-01-01
4,4,Rockabye (feat. Sean Paul & Anne-Marie),Clean Bandit,2356604.0,https://open.spotify.com/track/5knuzwU65gJK7IF...,2017-01-01
5,5,One Dance,Drake,2259887.0,https://open.spotify.com/track/1xznGGDReH1oQq0...,2017-01-01

In [30]:
top_artists = df.groupby('Artist')['Streams'].sum().reset_index()
top_artists = top_artists.sort_values('Streams', ascending=False)

In [62]:
print (top_artists.head())

            Artist       Streams
544    Post Malone  7.730977e+09
198     Ed Sheeran  6.779223e+09
191          Drake  6.622569e+09
710   XXXTENTACION  5.110401e+09
45   Ariana Grande  4.220703e+09

In [59]:
top_song = df.groupby(['Track Name','Artist']).sum().sort_values('Streams', ascending=False)

In [60]:
top_song.head()

                                   Streams
Track Name        Artist
Shape of You      Ed Sheeran  2.090274e+09
God's Plan        Drake       1.243688e+09
New Rules         Dua Lipa    1.102638e+09
Perfect           Ed Sheeran  1.062269e+09
Despacito - Remix Luis Fonsi  1.036822e+09

In [67]:
streams_over_time = df.groupby('Date').sum()